{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% load cloudinary %}

{% block content %}
<div class="container">
    <div class="row hoods-page">
        <div class="col-md-4">
            {% cloudinary neighborhood.logo format="jpg" width=300 height=200 crop="" %}
        </div>
        <div class="col-md-8">
            <h2 class="hood-name text-center">{{neighborhood.name}}</h2>
            <h4 class="highlight">{{neighborhood.location}}</h4>
            <p>Police Station Telephone Number: <span class="highlight">{{neighborhood.police_number}}</span></p>
            <p>Health Department Telephone Number: <span class="highlight">{{neighborhood.health_number}}</span></p>
            <p>Neighborhood Manager: <span class="highlight">{{neighborhood.admin.username}}</span></p>

            {% if request.user.profile.neighbourhood == neighborhood %} 
                <a href="{% url 'leave' neighborhood.id %}" class="btn btn-danger">Leave {{neighborhood.name}} neighborhood</a>
            {% endif %}
        </div>
    </div>
    <hr>

    <h1 class="text-center">Businesses</h1>
    <div class="row business">
        <div class="col-md-4">
            <a href="" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-xl">Add a Business</a>
        </div>
        <div class="col-md-8">
            <form class="" role="search" method="get" action="{% url 'search' %}">

                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search Business" name="title">
                  <div class="input-group-btn">
                    <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                  </div>
                </div>
        
              </form>
        </div>
        
    </div>

    
    <div class="modal fade bd-example-modal-xl" id="ModalCenter" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content modalcard">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Add a Business</h5>
                        <button type="button" class="close" data-dismiss="modal" id="mod_cls" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="post"  id="Q_A" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% bootstrap_form form%}
                            <input type="submit" class="btn btn-sm btn-info" value="Post">
                            <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Close
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        

        
        <div class="row">
            {% for business in business %}
            <div class="col-sm-6 col-lg-5 hoods">
                <h2 class="text-center highlight">{{business.name}}</h2>
                <p class="text-center">{{business.email}}</p>
                <p>{{business.description}}</p>
            </div>
            {% endfor %}
        </div>
        <hr>

        <div class="row">
            <div class="col-md-6">
                <h1 class="text-center">Posts</h1>
            </div>
            <div class="col-md-6 post-form">
                <a href="{% url 'post' neighborhood.id %}" class="btn btn-outline-primary">New Post</a>
            </div>
        </div>
        
        
        <div class="row">
            {% for post in posts %}
            <div class="col-sm-6 col-lg-12 hoods">
                <h2 class="text-center highlight">{{post.title}}</h2>
                <p>{{post.post}}</p>
                <p>Posted on {{post.date}}</p> 
            </div>
            {% endfor %}
        </div>
    
</div>
{% endblock %}