{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block content %}
    <h1 class="text-center">New Post</h1>
    <div class="container">
        <form action="" method="post"  id="Q_A" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form%}
            <input type="submit" class="btn btn-sm btn-info" value="Post">
            <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Close
            </button>
        </form>
        
    
       
    </div>
{% endblock %}