{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% load cloudinary %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-2">
                <span>{% cloudinary user.profile.profile_picture format="jpg" width=180 height=180 crop="fill"  %}</span>
                <h4 class="name">{{user.username}}</h4>
                <p> {{user.email}}</p>
                <p class="text-secondary">{{ user.profile.bio }}</p>
                <p>Location: {{user.profile.location}}</p>
            </div>
            <div class="col-md-5"></div>
        </div><hr>
    </div>
{% endblock %}